
<ul><%= @patients.name %>

<% @patients.each do |patient| %>
<li><h2> Patient Name: <%=link_to patient.name, patient_path(patient) %> </h2></li>
<li>Appointments:  <%= patient.appointments.count %> </li>
<% end %>
</ul>
