<h2> <%= @patient.name %> </h2>
<P>
  Appointments:
  <%= @patient.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %> <br> <br>
    <%= link_to appointment.patient.doctors, doctor_path(appointment.patient) %>
  <% end %>
