<h2> <%= @patient.name %> </h2>
<P>
  Appointments:<br> <br>
  <%= @patients.each do |patient| %>
  Patient NAME: <%= link_to appointment.patient.name.doctor, doctor_path(@patient) %> <br> <br>
  <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> <br> <br>
  <% end %>
