<h2> <%= @patient.name %> </h2>
<P>
  Appointments:
  <%= @patient.appointments.each do |appointment| %>
  Date: <%= appointment.appointment_datetime %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %> <br> <br>

  <% end %>
